<header>
    <div class="container cabecalho">
            <a href="#"> <img class="logo" src="/assets/img/logo.png" alt="Logo do site Game Mania"></a>
            <div class="search-box">
                
                <input class="search-txt" type="text" name="busca" placeholder="buscar">
                <i class="search-btn"></i>
                <i class="fas fa-search"></i>
                <input type="submit" value="buscar">
                
            </div>

            <nav id="menu" class="menu">
                <a href="#">Atendimento</a>
                <a href="#">Favoritos</a>
                <a href="#">Minha conta</a>
                <a routerLink="/login">Login</a>
                <a href="#"><img class="icone-carrinho" src="/assets/img/Meu carrinho.png" alt="icone carrinho de compras"></a>
            </nav>
            <a href="#" id="barras" onclick="mostrarMenu()"><img class="icone-menu" src="/assets/img/bars-solid.svg" alt="icone do menu barras"></a>
    </div>
</header>
