
<main>
    <section class="banner">

        <div class="container posicionamento-banner">
            <div class="conteudo-banner">
            <h1>Game Mania</h1>
            <p>Seus jogos preferidos estão aqui!</p>
            </div>
            
        </div>

    </section>

    <section class="consoles">
        <div class="container posicionamento-consoles">
            <a href="#">Playstation</a>
            <a href="#">Xbox</a>
            <a href="#">Nintendo</a>
            <a href="#">Informática</a>
            <a href="#">Promoções</a>
        </div>
    </section>

    <section class="destaques">

        <div class="posicionamento-destaques">
            <div class="conteudo-destaques">
                
                <h1>destaques</h1>

                
            </div>

                <p>
                    <a href="#"> <img src="/assets/img/hyper.png" alt="headset hyperx"></a>
                    <a href="#"> <img src="/assets/img/logtech.png" alt="headset logtech"></a>
                    <a href="#"> <img src="/assets/img/teclado.png" alt="teclado warrior"></a>
                    <a href="#"> <img src="/assets/img/mouse.png" alt="mouse asus"></a>
                </p>

                <p>
                    <a href="#"> <img src="/assets/img/play4.png" alt="playstation 4"></a>
                    <a href="#"> <img src="/assets/img/switch.png" alt="nintendo switch"></a>
                    <a href="#"> <img src="/assets/img/controle-play.png" alt="controle-playstation 4"></a>
                    <a href="#"> <img src="/assets/img/controle-x.png" alt="controle-xbox"></a>
                </p>

                <p>
                    <a href="#"> <img src="/assets/img/last.png" alt="jogo the last of us"></a>
                    <a href="#"> <img src="/assets/img/god.png" alt="jogo god of war"></a>
                    <a href="#"> <img src="/assets/img/grand.png" alt="jogo grand thef auto"></a>
                    <a href="#"> <img src="/assets/img/resident.png" alt="jogo resident evil"></a>
                </p>


        </div>

    </section>

    <section class="parceiros">
        <div class="posicionamento-parceiros">
            <a href="#"> <img src="/assets/img/Riot_Games-Logo.wine 1.svg" alt="logo riot"></a>
            <a href="#"> <img src="/assets/img/ps5.svg" alt=" logo play5"></a>
            <a href="#"> <img src="/assets/img/razer.svg" alt="logo razer"></a>
        </div>

    </section>
  
</main>

