<footer>

    <div class="container-footer">
        <div class="row-footer">
            <!--footer col-->
            <div class="footer-col">
                <h4>Empresa</h4>
                <ul>
                    <li><a href="#">Quem somos</a></li>
                    <li><a href="#">Politica de segurança</a></li>
                    <li><a href="#">Politica de privacidade</a></li>
                    <li><a href="#">Assistência técnica</a></li>
                </ul>
            </div>
            <!--end footer col-->
        </div>
         <!--footer col-->
         <div class="footer-col">
            <h4>Informações</h4>
            <ul>
                <li><a href="#">Garantia</a></li>
                <li><a href="#">Entregas</a></li>
                <li><a href="#">Devoluções</a></li>
                <li><a href="#">Dúvidas</a></li>
            </ul>
        </div>
        <!--footer col-->
        <div class="footer-col">
            <h4>Minha conta</h4>
            <ul>
                <li><a href="#">Carrinho</a></li>
                <li><a href="#">Pedidos</a></li>
                <li><a href="#">Minha lista</a></li>
                <li><a href="#">Cadastro</a></li>
            </ul>
        </div>
        <!--end footer col-->
        <!--footer col-->
        <div class="medias-sociais">
            <a href="#"> <img src="/assets/img/whatsapp.png" alt="icone whatsapp"></a>
            <a href="#"> <img src="/assets/img/facebook.png" alt="icone facebook"></a>
            <a href="#"> <img src="/assets/img/instagram.png" alt="icone instagram"></a>
        </div>
        <!--end footer col-->
    </div>
</footer>
